.App {
  height: 550px;
}
.wrapper {
  margin-top: 5%;
}
.row {
  margin-left: 4%;
  font-weight: 500;
}
h1 {
  text-align: center;
}
select {
  min-width: 6%;
  margin-bottom: 4%;
}
.spinner {
  position: absolute;
  top: 45%;
  left: 50%;
  margin: -50px 0 0 -50px;
}
.recharts-surface{
  height: 500px;
}
